@media screen and (max-width: 768px){
    body{
        background-color: red;
        color: white;
        text-align: center;
        font-size: 30px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    a{
        text-decoration: none; color: white; background-color: red; box-shadow: 2px 2px 10px black; padding: 20px; border-radius: 12px; border: solid 1px black;
    }
}
