:root{
    --background : #fff8e3;
    --teks : #4d2c2c;
    --hero-button : #ff6b9d;
    --highlight : #ffd93d;
    --aksen : #9ade7b;
}

html{
    scroll-behavior: smooth;
}
.HOME-BUTTON{
    position: fixed; top: 90%; left: 96%; transform: translate(-50%, -50%); text-decoration: none; color: black; background-color: var(--aksen); padding: 40px; border-radius: 50%; transition: 0.3s ease-in-out; outline: none; border: none; background-image: url(assets/arrow-up-solid.svg); width: 24px; height: auto; background-repeat: no-repeat; background-size: 20px; background-position: center;
}
.HOME-BUTTON:hover{
    background-color: var(--aksen);

}
*{
    padding: 0; margin: 0; box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-color: var(--background);
}
header{
    background-color: var(--hero-button); padding: 10px;
}

.header-container{
    display: flex; justify-content: space-between; align-items: center;
}
.BUTTON-CTA a{
    text-decoration: none; color: var(--teks); background-color: var(--hero-button); padding: 10px; border-radius: 12px; outline: none; border: none; transition: 0.3s ease-in-out; font-weight: bold;
}
.BUTTON-CTA a:hover{
    background-color: var(--aksen);
}
.hero-container{
    background-image: url(assets/bc.png); background-repeat: no-repeat; background-size: cover; background-position: center; height: 99vh; padding: 50px; margin: 0; background-color: var(--hero-button);
}
.title{
    justify-content: center; align-items: center; width: 100%; padding: 10% 0% 5% 0%; animation: Muncul 1s ease-in-out forwards;
}
.container-button-CTA{
    display: flex; justify-content: flex-start; align-items: center; gap: 10px; padding: 10px 10px 10px 20px; background-color: green; border-radius: 12px; width: 15%; animation: Muncul 0.9s ease-in-out forwards; animation-delay: 0.5s; opacity: 0; transition: 0.5s ease-in-out;
}
.container-button-CTA:hover{
    background-color: var(--aksen);
}
.container-button-CTA:hover{
    background-color: var(--aksen);
}
.button-CTA-SVG{
    width: 24px; height: auto; background-color: transparent;
}
.title h1{
    font-size: 80px;
}
/* Animation */
@keyframes Muncul{
    0%{
        opacity: 0;
        transform: scale(0.9);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}
/* Animation */

.title small{
    font-size: 40px; background-color: rgba(255, 107, 157, 0.5); border-radius: 12px; padding: 10px;
}
.buttonCTA{
    text-decoration: none; color: var(--background); animation: Muncul 1s ease-in-out forwards; animation-delay: 0.5s; opacity: 0;
}
/* Category-product */
.reveal{
    opacity: 0; transform: translateY(60px); transition: all 5s cubic-bezier(0.175, 0.885, 0.32, 1.275); visibility: hidden;
}
.reveal.active{
    opacity: 1; transform: translateY(0); visibility: visible;
}
.container-product{
    margin: 0; background-image: url(assets/pattenr-produk-unggulan.png); background-repeat: no-repeat; background-size: cover; background-position: center;
}
.product-title{
    padding: 100px;
}
.product-title h1{
    font-size: 50px; margin-bottom: 20px; color: var(--teks); box-shadow: 2px 2px 10px rgba(255, 107, 157, 0.5); width: 100%; border-radius: 12px;
}
.container-product-box{
    border-radius: 12px; width: 100%; overflow: hidden; transition: 0.3s ease-in-out; outline: none; background-color: white;
    
}
.container-product-box:hover{
    box-shadow: 2px 2px 10px rgba(255, 107, 157, 0.5); transform: scale(0.95); padding: 10px;
}
.container-product-box > img{
    transition: 0.3s ease-in-out;
}
.container-product-box:hover > img{
    border-radius: 12px; background-color: rgba(0, 0, 0, 0.5);
}
.container-product-box:hover > h3{
    background-color: transparent;
}
img{
    width: 100%; background-color: rgba(255, 107, 157, 0.5);
}
.container-product-box h2{
    width: 100%; padding: 10px; cursor: default;
}
.container-product-box h3{
    padding: 10px 10px 10px 12px; width: 100%; transition: 0.3s ease-in-out; cursor: default;

}
.grid-for-picture-product{
    display: grid; grid-template-columns: repeat(3,1fr); gap: 20px;
    justify-self: center; padding: 50px; box-shadow: 2px 2px 10px rgba(255, 107, 157, 0.5); border-radius: 12px; background-color: var(--background);
}
.detail-product{
    margin-top: 20px;
}
.detail-product a{
    text-decoration: none; color: var(--teks); font-weight: bold; padding: 20px; border-radius: 12px; box-shadow: 2px 2px 10px rgba(255, 107, 157, 0.5);  transition: 0.3s ease-in-out;
}
.detail-product a:hover{
    background-color: var(--aksen);
}
/* end product */

/* why-use-me? */
.container-why-us{
    background-color: var(--highlight); margin: 0;
}
.why-use-me{
    margin: 10px; padding: 20px;
}
.why-use-me h1{
    margin: 0px 0px 50px 0px; font-size: 50px;
}
.grid-for-why-us{
    display: grid; grid-template-columns:repeat(3,1fr); gap: 20px;
}
.container-why-us-box{
    display: flex; flex-direction: column; padding: 20px; background-color: var(--background); border-radius: 12px; transition: 0.3s ease-in-out; border-left: solid 10px var(--aksen); cursor: default;
}
.container-why-us-box:hover{
    box-shadow: 2px 2px 10px rgba(255, 107, 157, 0.5); background-color: var(--aksen); color: var(--teks);
}
/* info-kesehatan */
.container-info-kesehatan{
     padding: 50px;
}
.info-kesehatan{
    box-shadow: 2px 2px 10px rgba(255, 107, 157, 0.5); padding: 40px; border-radius: 12px;
}
.box-info-kesehatan{
    display: flex; justify-content: center; align-items: center; padding: 20px; gap: 50px;
}

/* testimoni */
.container-testimoni{
    padding: 50px;
}
.testimoni{
    margin-bottom: 20px;
}
.grid-testimoni{
    display: grid; grid-template-columns: repeat(2,1fr); gap: 20px;
}
.pict{
    border-radius: 50%; width: 50px; height: 50px;
}
.box-testimoni{
    display: flex; justify-content: space-between; align-items: stretch; padding: 20px; gap: 20px; box-shadow: 2px 2px 10px rgba(255, 107, 157, 0.5); border-radius: 12px;
}

/* Get-contact */
.GET-Contact{
    padding: 20px; box-shadow: 2px 2px 10px rgba(255, 107, 157, 0.5); border-top-left-radius: 12px; border-top-right-radius: 12px; background-color: var(--teks); color: var(--background); margin: 0;
}
.contact{
    display: flex;flex-direction: column;
}
.box-contact{
    display: flex; justify-content: space-between; align-items: center; padding: 20px
}
.box-contact a{
    text-decoration: none; color: var(--highlight);
}